/* Font*/
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");

/* Library */
html,
body {
  font-family: "Nanum Gothic", sans-serif;
}

html,
body,
h1,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

button {
  cursor: pointer;
  outline: none;
  border: 0;
  background-color: transparent;
}

* {
  box-sizing: border-box;
}

/* Custom */
:root {
  --main-color: cornflowerblue;
  --border-radius: 6px;
}

body {
  background-color: #000;
}

#root {
  background-color: #fff;
  max-width: 520px;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  padding: 12px 8px;
}

.item:not(:last-child) {
  margin-bottom: 12px;
}

.item-information {
  font-weight: bold;
  display: flex;
}

.item-information .item-name {
  font-size: 1.25rem;
  color: #555;
}

.item-information .item-count {
  font-size: 1rem;
  padding-left: 15px;
  display: flex;
  align-items: flex-end;
  color: #777;
}

.item-information .item-count .count {
  display: inline-block;
  font-size: 1.25rem;
  color: var(--main-color);
  padding-left: 6px;
  font-weight: 700;
}

.item-btns button {
  font-size: 1.75rem;
}

.item-btns button:active {
  opacity: 0.8;
}

.item-btns .plus-btn,
.item-btns .minus-btn {
  color: var(--main-color);
}

.item-btns .trash-btn {
  color: darkred;
}
